<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>TSU codes</name>

<description>
Join to de Social & Payment Network Tsū
</description>

<author href="http://www.play.com.uy" email="info@play.com.uy">
PlayCreativa
</author>

</widget>
