<?xml version="1.0" encoding="UTF-8" ?>
<feature name="debug-server" required="false" />
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">
<name>TSU codes</name>

<description>
Get a free invitation now!
Join to de Social & Payment Network Tsu
The social network that pays you for posting and share contents
</description>

<author href="https://www.play.com.uy" >
Play Uruguay
</author>

</widget>
